apiVersion: v1
kind: ServiceAccount
metadata:
  name: iofog-operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: iofog-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: iofog-operator
subjects:
- kind: ServiceAccount
  name: iofog-operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: iofog-operator
rules:
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - '*'
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  - rolebindings
  verbs:
  - '*'
- apiGroups:
  - iofog.org
  resources:
  - applications
  - apps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - iofog.org
  resources:
  - applications/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - iofog.org
  resources:
  - controlplanes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - iofog.org
  resources:
  - controlplanes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - pods
  - configmaps
  - configmaps/status
  - events
  - serviceaccounts
  - services
  - persistentvolumeclaims
  - secrets
  verbs:
  - '*'
